<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel</title>
  <!-- LINK -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/form.css">
  <!-- FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>

  <%- include("partials/header") %>

  <main>

    <div class="container container__form">

      <form action="">
        <h3>Login</h3>
        <label for="username">Usuario</label>
        <input type="text" id="username">
        <label for="password">Contraseña</label>
        <input type="password" id="password">
        <p class="message">placeholder</p>
        <button>Ingresar</button>
        <strong>¿Olvidaste tu contraseña?</strong>
      </form>
    </div>

  </main>


  <%- include("partials/footer") %>

  <script src="/js/form.js"></script>

</body>
</html>