<header>
  <div class="container">
    <div class="logo">
      <a href="/">panel<strong>.</strong>oso</a>
    </div>
    <nav>
      <ul>
        <!-- <li><a href="/">Inicio</a></li> -->
      </ul>
    </nav>
  </div>
</header>